* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: linear-gradient(rgb(250, 191, 124), rgb(77, 51, 1));
    background-repeat: no-repeat;
}